#joypad {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
      /* .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .    */
        ".   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   "
        ".   jl  jl  jl  .   .   .   .   .   .   .   .   .   b4  .   .   "
        ".   jl  jl  jl  .   .   .   .   .   .   .   .   b3  .   b2  .   "
        ".   jl  jl  jl  .   .   .   .   .   .   .   .   .   b1  .   .   "
        ".   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   "
        ".   .   .   .   .   .   .   .   .   jr  jr  jr  .   .   .   .   "
        ".   .   .   .   .   .   .   .   .   jr  jr  jr  .   .   .   .   "
        ".   .   .   .   .   .   .   .   .   jr  jr  jr  .   .   .   .   "
        "dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg "
        ;
}
